bridge:
  proto: https
  port: 443
  host: api.storj.io
  user: yourusername
  pass: yourpassword

encrypt:
  mnemonic: 'this is not really a mnemonic and i hope it does not break anything'

http:
  user_agent: 'curl/7.52.1'
  proxy_url:
  #cainfo_path: #-- leave blank to use curl default CA bundle, see:
  #                 (https://curl.haxx.se/libcurl/c/CURLOPT_CAINFO.html)
  low_speed_limit: 30720
  low_speed_time: 20
  timeout: 60

log:
  logger: JSON_LOGGER
  level: 0
